# {{ ansible_managed }}

[main]
cachedir={{ wtd_yum_cachedir }}
keepcache={{ wtd_yum_keepcache }}
debuglevel={{ wtd_yum_debuglevel }}
logfile={{ wtd_yum_logfile }}
exactarch={{ wtd_yum_exactarch }}
obsoletes={{ wtd_yum_obsoletes }}
gpgcheck={{ wtd_yum_gpgcheck }}
plugins={{ wtd_yum_plugins }}
installonly_limit={{ wtd_yum_installonly_limit }}
bugtracker_url={{ wtd_yum_bugtracker_url }}
distroverpkg={{ wtd_yum_distroverpkg }}
clean_requirements_on_remove={{ wtd_yum_clean_requirements_on_remove }}
metadata_expire={{ wtd_yum_metadata_expire }}
